@import 'floatz-2.0.0.alpha/core/floatz.core.less';
@import 'floatz-2.0.0.alpha/form/floatz.form.less';
/*---------------------Variables-----------------------------*/
@color-gray-light: #efefef;
@color-gray-mid: #dadada;
@color-gray-dark: #aaaaaa;
@color-primary-blue: #005D95;
@color-red: #F16889;
@color-yellow: #FFD166;
@color-green: #06D6A0;
@color-blue: #073B4C;

/*--------------------Global Attributes--------------------------------*/
*, body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  color: @color-primary-blue;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

button {
  background-color: @color-yellow;
}

a {
  color: @color-primary-blue;
  padding: @flz-var-gutter-text-y / 2 0;
  text-decoration: underline;
}

a:hover {
  color: @color-yellow;
  cursor: default;
}

label {
  padding: @flz-var-gutter-text-y / 2 0;
}

span.icon-chevron-down, span.icon-chevron-up, span.icon-home {
  float: right;
}

/*--------------------Classes--------------------------------*/
.content {
  background-color: white;
  border-bottom: 1px solid @color-gray-mid;
}

.contentArticle {
  h3 {
    border-bottom: 1px solid @color-primary-blue;
  }
}

.details {
  button:nth-child(even) {
    margin-left: 1rem;
  }
  h1 {
    padding-left: 0;
  }
  img {
    height: 5em;
    width: 10em;
  }
}

.flz-form input[type=file] {
  border: none;
}

.iconbar {
  position: absolute;
  right: 0;
  top: 0;
}

.paddingtop {
  padding-top: 0.5rem;
}

.searching {
  button:last-child {
    margin-left: 1rem;
  }
  &.flz-form &input {
    height: auto;
  }
}

.toolbar {
  position: relative;
}

/*--------------------Media queries--------------------------*/
@media @flz-media-lte-s {
  .icon-file-text-o:before {
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-left: 0;
  }

  .icon-file-text-o[class^="icon-"], [class*=" icon-"] {
    padding-left: 0;
  }
}

/*--------------------ID-------------------------------------*/
#header {
  background-color: @color-primary-blue;
  position: relative;
  h1 {
    color: @color-gray-mid;
    float: left;
    font-size: 1.4em;
    font-weight: bolder;
    left: 3.8em;
    padding-bottom: 0.1em;
    padding-left: 1em;
    position: absolute;
    top: 0.7em;
  }
  h2 {
    color: @color-gray-light;
    float: left;
    font-size: 1.3em;
    font-weight: bolder;
    left: 4.2em;
    padding-top: 0.1em;
    padding-left: 1em;
    position: absolute;
    top: 2em;
  }
  img {
    height: 5rem;
    width: 5rem;
  }
  .flz-inline {
    display: inline-block;
  }
}

#main {
  background-color: @color-gray-light;
  border: 1px solid @color-gray-mid;
  .searching {
    h1 {
      display: inline-block;
    }
  }
}

#login {
  background-color: @color-gray-light;
  border: 1px solid @color-gray-mid;
}

/*-----------------------------Icons------------------------------*/

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?ld2rpg');
  src: url('fonts/icomoon.eot?ld2rpg#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?ld2rpg') format('truetype'),
  url('fonts/icomoon.woff?ld2rpg') format('woff'),
  url('fonts/icomoon.svg?ld2rpg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text-o:before {
  content: "\f0f6";
  font-size: 2em;
  opacity: 0.5;
}

.icon-tag:before {
  content: "\f02b";
  color: @color-primary-blue;
}

.icon-plus:before {
  content: "\f067";
  color: @color-primary-blue;
}

.icon-home:before {
  content: "\f015";
  color: @color-primary-blue;
}

.icon-chevron-up:before {
  content: "\f077";
  color: @color-primary-blue;
}

.icon-chevron-down:before {
  content: "\f078";
  color: @color-primary-blue;
}